.product-wrap
    .product
        .product__card
        .product__inner
            p.product__question Котэ не одобряет?
            p.product__label Сказочное заморское яство
            h2.product__title Нямушка
            span.product__descr с фуа-гра
            p.product__special
                span.product__highlight 10
                |   порций
                br
                |   мышь в подарок
        .product__weight
            p.product__amount 0,5
                br
                span.product__kilo кг
        p.product__buy Чего сидишь? Порадуй котэ, 
            a(href="#").product__link купи.
        p.product__info Печень утки разварная с артишоками.
        p.product__soldout Печалька, с фуа-гра закончился.
.product-wrap
    .product.product--select
        .product__card
        .product__inner
            p.product__question Котэ не одобряет?
            p.product__label Сказочное заморское яство
            h2.product__title Нямушка
            span.product__descr с рыбой
            p.product__special
                span.product__highlight 40
                |   порций
                br
                span.product__highlight 2
                |   мыши в подарок
        .product__weight
            p.product__amount 2
                br
                span.product__kilo кг
        p.product__buy Чего сидишь? Порадуй котэ, 
            a(href="#").product__link купи.
        p.product__info Головы щучьи с чесноком да свежайшая сёмгушка.
        p.product__soldout Печалька, с рыбой закончился.
.product-wrap
    .product.product--disable
        .product__card
        .product__inner
            p.product__question Котэ не одобряет?
            p.product__label Сказочное заморское яство
            h2.product__title Нямушка
            span.product__descr с курой
            p.product__special
                span.product__highlight 100
                |   порций
                br
                span.product__highlight 5
                |   мышей в подарок
                br
                |   заказчик доволен
        .product__weight
            p.product__amount 5
                br
                span.product__kilo кг
        p.product__buy Чего сидишь? Порадуй котэ, 
            a(href="#").product__link купи.
        p.product__info Филе из цыплят с трюфелями в бульоне.
        p.product__soldout Печалька, с курой закончился.