// ЦВЕТА
$title-color:#fff;
$border-color: #1698d9;
$product-bg-color: #f2f2f2;
$product-label-text-color: #666;
$product-title-color: #000;
$product-disable-color: #b3b3b3;
$product-hover-color:#2ea8e6;
$product-select-color:#d91667;
$product-select-hover-color:#e62e7a;


// РАЗМЕРЫ
$content-width: 1280px;
$title-size: 36px;
$product-label-text: 16px;
$product-title-text: 48px; 
$product-descr-text: 24px;
$product-amount-text: 42px;


// ШРИФТЫ
$title-font: 'Exo2-0-Thin', sans-serif;
$main-font: 'Trebuchet MS', sans-serif;