.products {
    display: flex;
    height: 100vh;
}

.products__title {
    color: $title-color;
    text-align: center;
    font: 400 $title-size $title-font;
    text-shadow: 0 1px 0 #000000;
    padding-top: 47px;
}

.products__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 80px;
    margin-bottom: 67px;
}